@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&family=Montaga&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #1E5366;
    color: #FFBF00;
}

#navbar {
    background-color: #808285;
    display: flex;
    align-items: center;
    padding: 1px;
}

#navbar a {
    text-decoration: none;
    color: #F1F2F2;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 300px;
}

#logo:hover img {
    background-image: url("../images/Logo/240205_CustomLogoProject_101_Dstgelais_Final_Full\ Color_Full\ Logo.png");
    cursor: pointer;
    animation: spin 5s infinite;
}

.nav {
    font-size: 20px;
    padding: 3%;
}

#navbar .nav:hover {
    background-color: #2D81BB;
}

#navbar .nav a:hover {
    color: #FFDC73;
}

@keyframes spin {
    0% {
    transform: scaleX(1);
    }
    50% {
    transform: scaleX(-1);
    }
    100% {
    transform: scale(1);
    }
}

#card1 {
    width: 95%;
    border-radius: 5px;
    background-image: url("../images/Main/black-marbled-surface.jpg");
    background-size: cover;
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin: 2% auto;
}

#card1 #about{
    margin: auto;
    margin-left: 15px;
    text-align: center;
    background-color: #1e5366b9;
}

.styleguide {
    width: 90%;
    margin: 1% 5%;
}

.card2 a {
    text-decoration: none;
    color: #ffdc73;
}

.card2 a:hover {
    text-decoration: none;
    color: #236582;
}

.card2 {
    width: 75%;
    margin: 2% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card2 img{
    width: 20%;
}

#bev, 
#app, 
#sad, 
#sas, 
#ent, 
#dess {
    background-image: url("../images/Main/brown-white-marble-textured-background.png");
    background-size: cover;
    padding: 1%;
    margin: 3%;
}