body {
    width: auto;
    min-width: 10px;
    max-width: 100%;
}
.topbar {
    width: 100%;
    margin-left: 10%;
    margin-right: 2px;
}
#topbar {
    width: 100%;
    margin-left: 15%;
}
.body-1 {
    display: inline-block;
    width: 50%;
    margin-right: 5px;
}
#side-bar {
    background-color: teal
}
#body-2 {
    background-color: darkgray;
}