/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-2 {
    border-radius: 35px;
    background-color: white;
    width: 50vw;
    height: 540px;
    max-width: 340px;
    min-width: 340px;
    margin: 19px auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.animagram-header span {
    margin-top: 20px;
}

.animagram-header .logo {
    font-weight: bolder;
    font-size: 26px;
    margin-right: 90px;
}

.animagram-header .brand-name {
    font-weight: 1100;
    font-size: 27px;
}

.card-style-2 img {
    border-radius: 100%;
    width: 60%;
    margin-left: 65px;
}

h2 {
    text-align: center;
    margin-top: -20px;
}

p {
    text-align: center;
    margin-top: -40px;
    padding: 0px 10%;
}

.animagram-footer {
    font-size: 23px;
    margin-bottom: 20px;
}

.animagram-footer span {
    margin-right: 25px;
}