* {
    box-sizing: border-box;
}

body {
    background-image: 
        url("../images/bg/bg-01.png");
    background-size: cover;
}


#navbar {
    background: linear-gradient(to bottom, #252525, #121212);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: rgb(53, 255, 90);
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, #1bb810, #0e960e);
    color: black;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu1 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu1 {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu1 {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu1 a {
    background-color: rgb(26, 26, 26);
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu1 a:hover {
    background: rgb(74, 216, 39);
}

.dropdown-menu2-1 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu2-1 {
    right: 5px;
}

.dropdown-container:hover .dropdown-menu2-1 {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu2-1 a {
    background-color: rgb(26, 26, 26);
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu2-1 a:hover {
    background: rgb(88, 255, 54);
}

/**************************************************************
    Header Styling
**************************************************************/
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        ". content-area .";
    background-color: #111111b1;
    margin: 3%;
    padding: 3%;
}

#grid img {
    margin-right: 3%;
    width: 100%;
}

#grid p {
    margin-left: 10%;
    color: white;
    text-align: center;
}

/**************************************************************
    Adopt-1
**************************************************************/
#adopt-me-1 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg/ADscales-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-1 img {
    margin-right: 3%;
    width: 100%;
}

#adopt-me-1 p {
    margin-left: 10%;
    color: rgb(5, 103, 57);
    font-weight: bold;
}

#adopt-me-1 h1 {
    margin-left: 10%;
    color: rgb(5, 103, 57);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-1 h2 {
    margin-left: 10%;
    color: rgb(5, 103, 57);
    text-align: center;
    padding-bottom: 3px;
}

#adopt-me-1 #card-heading {
    background-color: #e0a42b;
}

#adopt-me-1 .cta {
    margin-left: 10%;
    color: white;
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 184, 37), rgb(0, 124, 21));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-1 .cta:hover {
    margin-left: 10%;
    color: rgb(255, 242, 0);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 124, 21), rgb(0, 184, 37));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

/**************************************************************
    Adopt-2
**************************************************************/
#adopt-me-2 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg/wdscales-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-2 img {
    margin-right: 3%;
    width: 100%;
}

#adopt-me-2 p {
    margin-left: 10%;
    color: rgb(0, 255, 208);
    font-weight: bold;
}

#adopt-me-2 h1 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-2 h2 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 3px;
}

#adopt-me-2 #card-heading {
    background-color: #2b9be0;
}

#adopt-me-2 .cta {
    margin-left: 10%;
    color: white;
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 184, 172), rgb(0, 124, 124));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-2 .cta:hover {
    margin-left: 10%;
    color: rgb(118, 255, 228);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 124, 124), rgb(0, 184, 172));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

/**************************************************************
    Adopt-3
**************************************************************/
#adopt-me-3 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg/nfscales1-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-3 img {
    margin-right: 3%;
    width: 100%;
}

#adopt-me-3 p {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#adopt-me-3 h1 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-3 #card-heading {
    background-color: #002e4a;
}

#adopt-me-3 .cta {
    margin-left: 10%;
    color: rgb(0, 187, 255);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(26, 26, 26), rgb(56, 56, 56));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-3 .cta:hover {
    margin-left: 10%;
    color: rgb(10, 10, 10);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(2, 131, 195), rgb(0, 77, 110));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

/**************************************************************
    Adopt-4
**************************************************************/
#adopt-me-4 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg/CJBG-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-4 img {
    margin-right: 3%;
    width: 99%;
}

#adopt-me-4 #info {
    color: rgb(0, 255, 242);
    font-weight: bold;
    background-color: #000000;
    padding: 3%;
}

#adopt-me-4 h1 {
    margin-left: 10%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-4 #card-heading {
    background-color: #2b9be0;
}

#adopt-me-4 .cta {
    margin-left: 10%;
    color: white;
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 184, 172), rgb(0, 124, 124));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-4 .cta:hover {
    margin-left: 10%;
    color: rgb(118, 255, 228);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 124, 124), rgb(0, 184, 172));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

/**************************************************************
    Adopt-5
**************************************************************/
#adopt-me-5 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg/H-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-5 img {
    margin-right: 3%;
    width: 100%;
}

#adopt-me-5 p {
    margin-left: 10%;
    color: rgb(33, 33, 33);
    font-weight: bold;
}

#adopt-me-5 h1 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-5 h2 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 3px;
}

#adopt-me-5 #card-heading {
    background-color: #0071b7;
}

#adopt-me-5 .cta {
    margin-left: 10%;
    color: white;
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 184, 172), rgb(0, 124, 124));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-5 .cta:hover {
    margin-left: 10%;
    color: rgb(219, 219, 219);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 124, 124), rgb(0, 184, 172));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

/**************************************************************
    Adopt-6
**************************************************************/
#adopt-me-6 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg/N-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-6 img {
    margin-right: 3%;
    width: 100%;
}

#adopt-me-6 p {
    margin-left: 10%;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#adopt-me-6 h1 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-6 #card-heading {
    background-color: #138567;
}

#adopt-me-6 .cta {
    margin-left: 10%;
    color: white;
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 135, 184), rgb(0, 91, 124));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-6 .cta:hover {
    margin-left: 10%;
    color: rgb(189, 189, 189);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 91, 124), rgb(0, 135, 184));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

/**************************************************************
    Adopt-7
**************************************************************/
#adopt-me-7 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg/MFBG-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-7 img {
    margin-right: 3%;
    width: 100%;
}

#adopt-me-7 #info {
    background-color: #000000;
    color: rgb(215, 216, 217);
    font-weight: bold;
    padding: 20px;
    margin: 1%;
}

#adopt-me-7 h1 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-7 #card-heading {
    background-color: #000000;
}

#adopt-me-7 .cta {
    margin-left: 10%;
    color: white;
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(82, 82, 82), rgb(33, 33, 33));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-7 .cta:hover {
    margin-left: 10%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(218, 218, 218), rgb(145, 145, 145));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

/**************************************************************
    Adopt-8
**************************************************************/
#adopt-me-8 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg/Focprints-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-8 img {
    margin-right: 3%;
    width: 100%;
}

#adopt-me-8 #info {
    margin-left: 10%;
    color: rgb(238, 172, 18);
    background-color: #000000;
    font-weight: bold;
    padding: 20px;
    margin: 1%;
}

#adopt-me-8 h1 {
    margin-left: 10%;
    color: rgb(238, 172, 18);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-8 h2 {
    margin-left: 10%;
    color: rgb(238, 172, 18);
    text-align: center;
    padding-bottom: 3px;
}

#adopt-me-8 #card-heading {
    background-color: #111111;
}

#adopt-me-8 .cta {
    margin-left: 10%;
    color: rgb(248, 157, 0);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(36, 36, 36), rgb(16, 16, 16));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-8 .cta:hover {
    margin-left: 10%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(248, 157, 0), rgb(162, 103, 0));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

/**************************************************************
    Adopt-9
**************************************************************/
#adopt-me-9 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg//pf-02-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-9 img {
    margin-right: 3%;
    width: 100%;
}

#adopt-me-9 #info {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #000000;
    font-weight: bold;
    padding: 20px;
    margin: 1%;
}

#adopt-me-9 h1 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-9 h2 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 3px;
}

#adopt-me-9 #card-heading {
    background-color: #0c5a8a;
}

#adopt-me-9 .cta {
    margin-left: 10%;
    color: white;
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(0, 141, 184), rgb(0, 70, 124));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-9 .cta:hover {
    margin-left: 10%;
    color: rgb(0, 103, 167);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(255, 255, 255), rgb(164, 164, 164));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

/**************************************************************
    Adopt-10
**************************************************************/
#adopt-me-10 {
    display: block;
    align-items: center;
    background-image: 
        url("../images/bg/pf-01.png");
    background-size: cover;
    margin: 3%;
    padding: 3%;
}

#adopt-me-10 img {
    margin-right: 3%;
    width: 100%;
}

#adopt-me-10 #info {
    margin-left: 10%;
    color: rgb(255, 187, 0);
    font-weight: bold;
    background-color: #111111;
    font-weight: bold;
    padding: 20px;
    margin: 1%;
}

#adopt-me-10 h1 {
    margin-left: 10%;
    color: rgb(255, 187, 0);
    text-align: center;
    padding-top: 3px;
}

#adopt-me-10 h2 {
    margin-left: 10%;
    color: rgb(255, 187, 0);
    text-align: center;
    padding-bottom: 3px;
}

#adopt-me-10 #card-heading {
    background-color: #111111;
}

#adopt-me-10 .cta {
    margin-left: 10%;
    color: rgb(255, 187, 0);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(37, 37, 37), rgb(17, 17, 17));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}

#adopt-me-10 .cta:hover {
    margin-left: 10%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bolder;
    background-image: 
        linear-gradient(rgb(255, 187, 0), rgb(153, 112, 0));
    padding: 15px 32px;
    font-size: 16px;
    padding: 15px;
    margin: 0px 40%;
}
