/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-3 {
    border: 20px solid #FFD700;
    border-radius: 10px;
    width: 70%;
    max-width: 450px;
    margin: 19px auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    padding: 10px;
}

img {
    border: 6px solid #DAA520;
}

.data {
    border: 2px solid #DAA520;
}

.details {
    background: linear-gradient(
        90deg, 
        #DAA520, 
        #FFD700, 
        #DAA520
    );
}

.attack {
    display: inline;
    background-color: #02FEFF;
    padding: 20px;
}

.description .bold {
    font-weight: bolder;
    font-size: 20px;
}

.power {
    font-weight: bolder;
    font-size: 25px;
}

#pokemon-card-1 {
    background: linear-gradient(
        -45deg, 
        #8CEA8C,
        #268F26,
        #8CEA8C
    );
}

#pokemon-card-2 {
    background: linear-gradient(
        -45deg, 
        #8CEA8C,
        #268F26,
        #8CEA8C
    );
}

#pokemon-card-3 {
    background: linear-gradient(
        -45deg, 
        #FFA300,
        #FF4500,
        #FFA300
    );
}

#pokemon-card-4 {
    background: linear-gradient(
        -45deg,
        #02FEFF,
        #80D0EC,
        #02FEFF
    );
}

#pokemon-card-1 img {
    width: 350px;
}

#pokemon-card-2 img {
    width: 350px;
}

#pokemon-card-3 img {
    width: 350px;
}

#pokemon-card-4 img {
    width: 350px;
}